/.rollup.cache/
/.vscode/
/patches/
/pnpm-lock.yaml
/rollup.config.mjs
/switches.d.ts
/tsconfig.json
/*.tsbuildinfo
/.tmpBuild/
/gulpfile.mjs
/src
/dist/**/*.map
/dist/**/*.ts
/dist/**/*.cts
/autostart_appendix.js